@{
    ViewBag.Title = "Home Page";
}
<p class="acc">
    Welcome to this site for the sale of computer equipment.
</p>
<div>
    <img src="~/Images/piece/MSI MPG Z390 Ging edge AC.jpg" width="33%" />
    <img src="~/Images/piece/RTX 2070.jpg" width="33%" />
    <img src="~/Images/piece/RTX 3080.jpg" width="33%" />
</div>