@model bladelinkv2.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details command ID N° @Html.DisplayFor(model => model.ID_comm1)</h2>

<div>
    <h4>Order</h4>
    <hr />
    <table class="table">
        <tr>
            <td>Name product</td>
            <td>Price</td>
        </tr>
        @for (int i = 0; i < Model.lp.Count; i++)
        {
            <tr>
                <td>@Html.DisplayFor(m=>m.lp[i].p.Name_prod)</td>
                <td>@Html.DisplayFor(m=>m.lp[i].p.Price)€</td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
