@model IEnumerable<bladelinkv2.Models.Order>
@using bladelinkv2.Models
@{
    double total;
    ViewBag.Title = "Index";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>List of our orders</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    @foreach (var item in Model)
                    {
                        total = 0;
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_comm1)
                            </td>
                            <td>
                                @foreach (ContainOrder co in item.lp)
                                {
                                    total += co.p.Price;
                                }
                                @total€
                            </td>

                            <td>
                                <button class="btn btn-outline-success">@Html.ActionLink("Details", "Details", new { id = item.ID_comm1 }, new {@class="black" })</button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
